AWS-Flows.json
[{"id":"64350717.e792d8","type":"tab","label":"IoT Project V1","disabled":false,"info":""},{"id":"962b24ea.27a7d8","type":"tab","label":"Chatbot - fb","disabled":false,"info":""},{"id":"72eb3e3.a44a8c","type":"tab","label":"Chatbot - Slack","disabled":false,"info":""},{"id":"ef3a7153.5ce07","type":"tab","label":"EC2 stats","disabled":false,"info":""},{"id":"45b9a2a1.def3ec","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2bdc2bd9.22ee94","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"DYLAN_TEST","name":"","usetls":false,"tls":""},{"id":"432eb8f2.20c908","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e5a470d4.643ab","type":"ui_group","z":"","name":"Temperature","tab":"2c7db548.d1746a","order":1,"disp":true,"width":"6","collapse":false},{"id":"93ce8b80.12e778","type":"chatbot-facebook-node","z":"","botname":"FB - AIR QUALITY","usernames":"","store":"","log":"","debug":false,"profileFields":"first_name,last_name"},{"id":"aeb5f2e8.8d143","type":"chatbot-facebook-node","z":"","botname":"","usernames":"","store":"","log":"","debug":false,"profileFields":"first_name,last_name"},{"id":"7ad4858b.d15bec","type":"chatbot-facebook-node","z":"","botname":"Reciever - Air quality","usernames":"","store":"","log":"","debug":true,"profileFields":"first_name,last_name"},{"id":"d4032895.203d68","type":"chatbot-slack-node","z":"","botname":"slack in","usernames":"","username":"","iconEmoji":"","store":"","log":"","debug":false},{"id":"78514adb.419c64","type":"chatbot-slack-node","z":"","botname":"slack out","usernames":"","username":"","iconEmoji":"","store":"","log":"","debug":true},{"id":"6854b38a.1d30fc","type":"ui_tab","z":"","name":"Air Quality - Detailed","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"74661bd6.18fd84","type":"ui_group","z":"","name":"Ammonia (NH3)","tab":"6854b38a.1d30fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"afc01b69.8c6df8","type":"ui_group","z":"","name":"Carbon Monoxide (CO)","tab":"6854b38a.1d30fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d2f19ed.e5ba36","type":"ui_group","z":"","name":"Nitrogen Dioxide (NO2)","tab":"6854b38a.1d30fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"2a44bd52.2db892","type":"ui_group","z":"","name":"Propane (C3H8)","tab":"6854b38a.1d30fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"33717a69.024956","type":"ui_group","z":"","name":"Butane (C4H10)","tab":"6854b38a.1d30fc","order":5,"disp":true,"width":"6","collapse":false},{"id":"62322cf6.ad9c84","type":"ui_group","z":"","name":"Methane (CH4)","tab":"6854b38a.1d30fc","order":6,"disp":true,"width":"6","collapse":false},{"id":"75a9c84a.5fc308","type":"ui_group","z":"","name":"Hydrogen (H2)","tab":"6854b38a.1d30fc","order":7,"disp":true,"width":"6","collapse":false},{"id":"578d9c80.d55a34","type":"ui_group","z":"","name":" Ethanol (C2H5OH)","tab":"6854b38a.1d30fc","order":8,"disp":true,"width":"6","collapse":false},{"id":"34f6aa34.9bc426","type":"ui_group","z":"","name":"Temperature","tab":"6854b38a.1d30fc","order":9,"disp":true,"width":"6","collapse":false},{"id":"2ec875a3.8ba4ea","type":"ui_group","z":"","name":"Humidity","tab":"6854b38a.1d30fc","order":10,"disp":true,"width":"6","collapse":false},{"id":"2c7db548.d1746a","type":"ui_tab","z":"","name":"Air Quality - Summary","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e76f4196.a4826","type":"ui_group","z":"","name":"Air Quality Measure (AQI)","tab":"2c7db548.d1746a","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e4e2506.2fef0c","type":"ui_group","z":"","name":"Humidity","tab":"2c7db548.d1746a","disp":true,"width":"6","collapse":false},{"id":"45b3a266.9ba48c","type":"mosca in","z":"64350717.e792d8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":302.00000762939453,"y":181.0000114440918,"wires":[[]]},{"id":"b53621a3.cd95e","type":"mqtt out","z":"64350717.e792d8","name":"","topic":"test","qos":"","retain":"","broker":"45b9a2a1.def3ec","x":422.60000228881836,"y":26.400014877319336,"wires":[]},{"id":"b3fc9c72.b5293","type":"inject","z":"64350717.e792d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.60000610351562,"y":27.000001907348633,"wires":[["586af237.41f50c"]]},{"id":"586af237.41f50c","type":"random","z":"64350717.e792d8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":281,"y":29,"wires":[["b53621a3.cd95e"]]},{"id":"d5fc4ad9.231708","type":"chatbot-facebook-send","z":"962b24ea.27a7d8","bot":"93ce8b80.12e778","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":812.0000076293945,"y":333.0000047683716,"wires":[]},{"id":"a547b81f.3a5968","type":"chatbot-facebook-receive","z":"962b24ea.27a7d8","bot":"7ad4858b.d15bec","botProduction":"","x":95,"y":298.0000047683716,"wires":[["a49f7678.6e4368","10891b50.2965e5"]]},{"id":"a49f7678.6e4368","type":"debug","z":"962b24ea.27a7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":159.60005950927734,"y":393.0000057220459,"wires":[]},{"id":"ecf59b1f.ec81c8","type":"chatbot-slack-receive","z":"72eb3e3.a44a8c","bot":"d4032895.203d68","botProduction":"","x":85,"y":495.42858600616455,"wires":[["d1d64e48.9afdf","39bf7fb2.24da1"]]},{"id":"4e1752f4.ecc01c","type":"debug","z":"72eb3e3.a44a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510.6001663208008,"y":582.4286069869995,"wires":[]},{"id":"66f57110.495b7","type":"chatbot-slack-send","z":"72eb3e3.a44a8c","bot":"78514adb.419c64","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1091.000114440918,"y":483.2857418060303,"wires":[]},{"id":"2ea22dfb.f0db22","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var NO2 = global.get('NO2')||0;\nvar NH3 = global.get('NH3')||0;\nvar CO = global.get('CO')||0;\n\n// msg.payload.content = \"Fuck you lil bitch \";\nmsg.payload.content = \"NO2 PPM: \" + String(NO2) + \", NH3 PPM: \" + String(NH3) + \", CO PPM: \" + String(CO);\nreturn msg;","outputs":1,"noerr":0,"x":746.7143135070801,"y":504.1428918838501,"wires":[["66f57110.495b7","eb9036ce.a58fe8"]]},{"id":"501eabbd.4d74d4","type":"mqtt in","z":"64350717.e792d8","name":"","topic":"#","qos":"2","datatype":"json","broker":"45b9a2a1.def3ec","x":93.00001907348633,"y":499.6001253128052,"wires":[["e71909f4.792188","f1f6cb47.b05288"]]},{"id":"e71909f4.792188","type":"debug","z":"64350717.e792d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":260.6000232696533,"y":230.6001491546631,"wires":[]},{"id":"f1f6cb47.b05288","type":"switch","z":"64350717.e792d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"NH3","vt":"str"},{"t":"eq","v":"CO","vt":"str"},{"t":"eq","v":"NO2","vt":"str"},{"t":"eq","v":"C3H8","vt":"str"},{"t":"eq","v":"C4H10","vt":"str"},{"t":"eq","v":"CH4","vt":"str"},{"t":"eq","v":"H2","vt":"str"},{"t":"eq","v":"C2H5OH","vt":"str"},{"t":"eq","v":"Temp","vt":"str"},{"t":"eq","v":"Humidity","vt":"str"},{"t":"eq","v":"Air_Quality","vt":"str"},{"t":"eq","v":"CPU","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":274.6000232696533,"y":523.0001201629639,"wires":[["7b90f911.5210e8","68637111.37a6e","c142b930.bf75e8"],["7347776e.d50278","4689e90d.3067b8","a97e12a3.acf63"],["1e8945b0.44e26a","fd169d5e.282ab","a985a16a.496d7"],["a4079c73.5ec1d","4b7b1943.6cbce8","10dec230.9d289e"],["a84a3689.cf5768","5f044696.0d4408","c88a22ed.e92f4"],["b5bc9a29.b28718","942ddfd.1069f2","88e5062f.9b2fd8"],["d60eeb0f.64fbd8","e42fdcb1.bf5a8","e0dce87f.a8e4d8"],["858a278c.3b6988","96649548.f51308","123e30f4.fd96cf"],["f6acb3b.25a105","c6b1b6b9.bf8908","369bc3ff.4b195c","247b2303.1c940c"],["3258712e.e7659e","93cf3f54.e8878","758fcba8.bc1a54","51d2cdf5.290bc4"],["e65b8a5b.457008","162202e1.03314d"],["b0e85c28.5f737"]]},{"id":"68637111.37a6e","type":"ui_chart","z":"64350717.e792d8","name":"","group":"74661bd6.18fd84","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":586.0000076293945,"y":229.60024642944336,"wires":[[]]},{"id":"7b90f911.5210e8","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"74661bd6.18fd84","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":"0","max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"400","seg2":"1200","x":588.0000247955322,"y":183.6001319885254,"wires":[]},{"id":"4689e90d.3067b8","type":"ui_chart","z":"64350717.e792d8","name":"","group":"afc01b69.8c6df8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":591.0000171661377,"y":316.4001235961914,"wires":[[]]},{"id":"7347776e.d50278","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"afc01b69.8c6df8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"34","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2.1","seg2":"17","x":591.0000171661377,"y":271.4000244140625,"wires":[]},{"id":"fd169d5e.282ab","type":"ui_chart","z":"64350717.e792d8","name":"","group":"2d2f19ed.e5ba36","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":591.0000171661377,"y":401.4001235961914,"wires":[[]]},{"id":"1e8945b0.44e26a","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"2d2f19ed.e5ba36","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"530","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"280","x":591.0000171661377,"y":356.4000244140625,"wires":[]},{"id":"4b7b1943.6cbce8","type":"ui_chart","z":"64350717.e792d8","name":"","group":"2a44bd52.2db892","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":588.0000171661377,"y":495.4001235961914,"wires":[[]]},{"id":"a4079c73.5ec1d","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"2a44bd52.2db892","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"1500","x":588.0000171661377,"y":450.4000244140625,"wires":[]},{"id":"5f044696.0d4408","type":"ui_chart","z":"64350717.e792d8","name":"","group":"33717a69.024956","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":593.0000171661377,"y":592.8000736236572,"wires":[[]]},{"id":"a84a3689.cf5768","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"33717a69.024956","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":"0","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"800","seg2":"15000","x":593.0000171661377,"y":547.7999744415283,"wires":[]},{"id":"942ddfd.1069f2","type":"ui_chart","z":"64350717.e792d8","name":"","group":"62322cf6.ad9c84","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":596.0000095367432,"y":680.5999660491943,"wires":[[]]},{"id":"b5bc9a29.b28718","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"62322cf6.ad9c84","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"50000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5000","seg2":"40000","x":596.0000095367432,"y":635.5998668670654,"wires":[]},{"id":"e42fdcb1.bf5a8","type":"ui_chart","z":"64350717.e792d8","name":"","group":"75a9c84a.5fc308","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":596.0000095367432,"y":765.5999660491943,"wires":[[]]},{"id":"d60eeb0f.64fbd8","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"75a9c84a.5fc308","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4000","seg2":"10000","x":596.0000095367432,"y":720.5998668670654,"wires":[]},{"id":"96649548.f51308","type":"ui_chart","z":"64350717.e792d8","name":"","group":"578d9c80.d55a34","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":593.0000095367432,"y":859.5999660491943,"wires":[[]]},{"id":"858a278c.3b6988","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"578d9c80.d55a34","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"ppm","format":"{{msg.payload}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"3000","x":593.0000095367432,"y":814.5998668670654,"wires":[]},{"id":"c142b930.bf75e8","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"NH3","precision":"","retentionPolicy":"","x":822.0000247955322,"y":210.0000705718994,"wires":[]},{"id":"a97e12a3.acf63","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"CO","precision":"","retentionPolicy":"","x":828.0000286102295,"y":283.60007095336914,"wires":[]},{"id":"a985a16a.496d7","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"NO2","precision":"","retentionPolicy":"","x":827.0000247955322,"y":373.60007190704346,"wires":[]},{"id":"10dec230.9d289e","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"C3H8","precision":"","retentionPolicy":"","x":844.0000171661377,"y":469.0000858306885,"wires":[]},{"id":"c88a22ed.e92f4","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"C4H10","precision":"","retentionPolicy":"","x":843.0000171661377,"y":568.8000736236572,"wires":[]},{"id":"88e5062f.9b2fd8","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"CH4","precision":"","retentionPolicy":"","x":833.0000171661377,"y":653.8001346588135,"wires":[]},{"id":"e0dce87f.a8e4d8","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"H2","precision":"","retentionPolicy":"","x":841.0000171661377,"y":733.8001346588135,"wires":[]},{"id":"123e30f4.fd96cf","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"C2H5OH","precision":"","retentionPolicy":"","x":853.0000171661377,"y":832.8001346588135,"wires":[]},{"id":"d5e97f4e.8506b","type":"influxdb in","z":"962b24ea.27a7d8","influxdb":"2bdc2bd9.22ee94","name":"","query":"SELECT last(value) FROM NO2","rawOutput":false,"precision":"","retentionPolicy":"","x":447.6000061035156,"y":211.80000114440918,"wires":[["b136e843.b8d2a8"]]},{"id":"b136e843.b8d2a8","type":"debug","z":"962b24ea.27a7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":747.6000595092773,"y":73.80000114440918,"wires":[]},{"id":"69b03d24.470ad4","type":"inject","z":"962b24ea.27a7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.60000610351562,"y":77.00000095367432,"wires":[["d5e97f4e.8506b"]]},{"id":"af5af1b7.5b05a","type":"debug","z":"962b24ea.27a7d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":653.0000066757202,"y":535.0000076293945,"wires":[]},{"id":"1f648cf.e5e4a73","type":"influxdb in","z":"72eb3e3.a44a8c","influxdb":"2bdc2bd9.22ee94","name":"","query":"SELECT last(value) FROM NO2","rawOutput":false,"precision":"","retentionPolicy":"","x":506.8572692871094,"y":46.28571891784668,"wires":[["ee2e0216.b8241"]]},{"id":"eb9036ce.a58fe8","type":"debug","z":"72eb3e3.a44a8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":884.4287643432617,"y":565.0000419616699,"wires":[]},{"id":"82ffe8e1.5065a8","type":"throttle","z":"72eb3e3.a44a8c","name":"","throttleType":"time","timeLimit":"3","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":407.0000648498535,"y":468.42860317230225,"wires":[["1f648cf.e5e4a73","4e1752f4.ecc01c","aeb3c8a5.476488","1e1da2b2.18276d","b356855a.c0b0a8"]]},{"id":"c6b1b6b9.bf8908","type":"ui_chart","z":"64350717.e792d8","name":"","group":"34f6aa34.9bc426","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":594.4000244140625,"y":957.5999755859375,"wires":[[]]},{"id":"f6acb3b.25a105","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"34f6aa34.9bc426","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"°C","format":"{{msg.payload}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":594.4000244140625,"y":912.5998764038086,"wires":[]},{"id":"369bc3ff.4b195c","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"Temp","precision":"","retentionPolicy":"","x":844.400032043457,"y":930.8001441955566,"wires":[]},{"id":"93cf3f54.e8878","type":"ui_chart","z":"64350717.e792d8","name":"","group":"2ec875a3.8ba4ea","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610.4000244140625,"y":1052.5999755859375,"wires":[[]]},{"id":"3258712e.e7659e","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"2ec875a3.8ba4ea","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610.4000244140625,"y":1007.5998764038086,"wires":[]},{"id":"758fcba8.bc1a54","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"Humidity","precision":"","retentionPolicy":"","x":870.400032043457,"y":1025.8001441955566,"wires":[]},{"id":"ee2e0216.b8241","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var NO2 = global.get('NO2')||0;\nNO2 = msg.payload[0].last;\nglobal.set('NO2',NO2);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":834.2000350952148,"y":45.20000076293945,"wires":[[]]},{"id":"10891b50.2965e5","type":"throttle","z":"962b24ea.27a7d8","name":"","throttleType":"time","timeLimit":"3","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":280,"y":314,"wires":[["e7b899b0.4ccff8"]]},{"id":"e7b899b0.4ccff8","type":"function","z":"962b24ea.27a7d8","name":"","func":"var count = global.get('NO2')||0;\n\n// msg.payload.content = \"Fuck you lil bitch \";\nmsg.payload.content = \"The NO2 PPM is: \" + String(count);\nreturn msg;","outputs":1,"noerr":0,"x":501.60003662109375,"y":330.6000061035156,"wires":[["d5fc4ad9.231708"]]},{"id":"aeb3c8a5.476488","type":"delay","z":"72eb3e3.a44a8c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":595.8000946044922,"y":467.42860317230225,"wires":[["2ea22dfb.f0db22"]]},{"id":"e65b8a5b.457008","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"Air_Quality","precision":"","retentionPolicy":"","x":872,"y":1122,"wires":[]},{"id":"dab44c53.3fd55","type":"cpu","z":"ef3a7153.5ce07","name":"","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":301.00000381469727,"y":176.00000190734863,"wires":[["516c5eb9.5b11b","96ab40c8.c958d"]]},{"id":"d78e2b4f.3f98d8","type":"inject","z":"ef3a7153.5ce07","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":111.60000610351562,"y":167,"wires":[["dab44c53.3fd55"]]},{"id":"516c5eb9.5b11b","type":"debug","z":"ef3a7153.5ce07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":569.6000556945801,"y":96.00000190734863,"wires":[]},{"id":"96ab40c8.c958d","type":"influxdb out","z":"ef3a7153.5ce07","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"CPU_usage","precision":"","retentionPolicy":"","x":667,"y":250,"wires":[]},{"id":"162202e1.03314d","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"e76f4196.a4826","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{msg.payload}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"300","x":300.6666793823242,"y":850.0000352859497,"wires":[]},{"id":"247b2303.1c940c","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"e5a470d4.643ab","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Degrees Celsius","format":"{{msg.payload}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":358.0000228881836,"y":982.3333129882812,"wires":[]},{"id":"51d2cdf5.290bc4","type":"ui_gauge","z":"64350717.e792d8","name":"","group":"5e4e2506.2fef0c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":341.66668701171875,"y":914.3333129882812,"wires":[]},{"id":"b0e85c28.5f737","type":"influxdb out","z":"64350717.e792d8","influxdb":"2bdc2bd9.22ee94","name":"","measurement":"CPU","precision":"","retentionPolicy":"","x":424,"y":1123,"wires":[]},{"id":"1e1da2b2.18276d","type":"influxdb in","z":"72eb3e3.a44a8c","influxdb":"2bdc2bd9.22ee94","name":"","query":"SELECT last(value) FROM NH3","rawOutput":false,"precision":"","retentionPolicy":"","x":505.3999938964844,"y":89.00000190734863,"wires":[["9997d174.dfa31"]]},{"id":"9997d174.dfa31","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var NH3 = global.get('NH3')||0;\nNH3 = msg.payload[0].last;\nglobal.set('NH3',NH3);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":828.4000244140625,"y":85,"wires":[[]]},{"id":"d1d64e48.9afdf","type":"switch","z":"72eb3e3.a44a8c","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"summary","vt":"str"},{"t":"cont","v":"detailed","vt":"str"},{"t":"cont","v":"fuck","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":247.00006484985352,"y":475.028603553772,"wires":[["9fed32a.897bbd"],["82ffe8e1.5065a8"],["b81e2c6f.21e8e"],["987fce37.fa6a5"]]},{"id":"9fed32a.897bbd","type":"throttle","z":"72eb3e3.a44a8c","name":"","throttleType":"time","timeLimit":"3","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":420.4000587463379,"y":688.428599357605,"wires":[["1d256ab2.173df5","5a7c2127.152af"]]},{"id":"1d256ab2.173df5","type":"influxdb in","z":"72eb3e3.a44a8c","influxdb":"2bdc2bd9.22ee94","name":"","query":"SELECT last(value) FROM Air_Quality","rawOutput":false,"precision":"","retentionPolicy":"","x":798.400146484375,"y":813.2857971191406,"wires":[["c98b7b1f.5f28b8"]]},{"id":"c98b7b1f.5f28b8","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var AQ = global.get('AQ')||0;\nAQ = msg.payload[0].last;\nglobal.set('AQ',AQ);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1146.8286781311035,"y":804.0000667572021,"wires":[[]]},{"id":"7fa4338.a73a1cc","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var AQ = global.get('AQ')||0;\n\n\n// msg.payload.content = \"Fuck you lil bitch \";\nmsg.payload.content = \"Air Quality Index is: \" + String(AQ);\nreturn msg;","outputs":1,"noerr":0,"x":743.400089263916,"y":690.428599357605,"wires":[["66f57110.495b7"]]},{"id":"5a7c2127.152af","type":"delay","z":"72eb3e3.a44a8c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":606.400089263916,"y":692.428599357605,"wires":[["7fa4338.a73a1cc"]]},{"id":"b356855a.c0b0a8","type":"influxdb in","z":"72eb3e3.a44a8c","influxdb":"2bdc2bd9.22ee94","name":"","query":"SELECT last(value) FROM CO","rawOutput":false,"precision":"","retentionPolicy":"","x":565.7142944335938,"y":137.14285278320312,"wires":[["45eea950.39b0d8"]]},{"id":"45eea950.39b0d8","type":"function","z":"72eb3e3.a44a8c","name":"","func":"var CO = global.get('CO')||0;\nCO = msg.payload[0].last;\nglobal.set('CO',CO);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":888.7143249511719,"y":133.1428508758545,"wires":[[]]},{"id":"987fce37.fa6a5","type":"function","z":"72eb3e3.a44a8c","name":"","func":"\nmsg.payload.content = \"Please enter keywords 'summary' or 'detailed' Air quality information\";\n\nreturn msg;","outputs":1,"noerr":0,"x":448.5714416503906,"y":947.1428833007812,"wires":[["66f57110.495b7"]]},{"id":"b81e2c6f.21e8e","type":"function","z":"72eb3e3.a44a8c","name":"","func":"\nmsg.payload.content = \"Fuck you lil bitch, ill fuck you up\";\n\nreturn msg;","outputs":1,"noerr":0,"x":482.85713958740234,"y":1017.1429176330566,"wires":[["66f57110.495b7"]]},{"id":"39bf7fb2.24da1","type":"debug","z":"72eb3e3.a44a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":171.42857360839844,"y":621.4285888671875,"wires":[]}]